<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Movie App</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        
        <!-- This is for jquery-ui -->
        @Scripts.Render("~/bundles/jqueryui")
        @Styles.Render("~/Content/themes/base/jquery-ui.css")
        @*<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />*@
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <div class="site-title float-left">
                        @Html.ActionLink("The Next Flick", "Index", "Movies")
                    </div>
               
                        @Html.Partial("_Navigation")
                        @Html.Partial("_HeaderSearch")
                </div>

                <div class="float-right" >
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </header>

        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - The Next Flick</p>
                </div>
                <div class="float-right">
                    <p>@Html.ActionLink("About", "About", "Home")
                    | @Html.ActionLink("Feedback", "Feedback", "Home")
                     @*Html.ActionLink("Contact", "Contact", "Home")*/</p>*@
                </div>
            </div>
        </footer>

@*        @Scripts.Render("~/bundles/jquery")
*@        @RenderSection("scripts", required: false)
    </body>
</html>
