@model NextFlicksMVC4.Models.userAccount.Users

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Users</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>


    <div class="display-label">
         @Html.DisplayNameFor(model => model.admin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.admin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.firstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.firstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lastName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.userID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
