@model NextFlicksMVC4.Views.Movies.ViewModels.FullViewModel

@*@model NextFlicksMVC4.Views.Movies.ViewModels.MovieWithGenreViewModel*@
@*@model NextFlicksMVC4.Models.Movie*@ @* This is a page for showing each individual title/Movie

Will need to show all the relevant data here. Title, Year, Length, MPAA Rating  *@
<div id=@Html.DisplayFor(model => model.Movie.movie_ID) class="NIT_entry">
    <div class="title_images">
        <div class="title_boxart">
            <a class="title_webpage" href=@Html.DisplayFor(model => model.Movie.web_page) >
                <img  alt="boxart" src=@Html.DisplayFor(model => model.Boxarts.boxart_150) />
            </a>
        </div>
    </div>
    <div class="title_entry_text">
    <div class="title_entry_top">
        <div class="title_title">
            @Html.DisplayFor(model => model.Movie.short_title)
        </div>
        <div class="title_details">
            @*            <a href=@Html.DisplayFor(model => model.Movie.web_page) >More Details</a> *@
            @Html.ActionLink("More Details", "Details", "Movies", new { Model.Movie.movie_ID }, null)
        </div>
    </div>
    <div class="title_entry_middle">
        <div class="title_entry_left">
            <div class="title_year">
                @Html.DisplayFor(model => model.Movie.year)
            </div>
            <div class="title_runtime">
                @Html.DisplayFor(model => model.Movie.runtime)
            </div>
        </div>
        <div class="title_entry_right">
            <div class="title_rating">
                @Html.DisplayFor(model => model.Movie.tv_rating)
            </div>
            <div class="title_tmeter">
                @if (Model.OmdbEntry != null && Model.OmdbEntry.t_Meter != 0) {
                    @Html.DisplayFor(model => model.OmdbEntry.t_Meter)
                    {
                        if (Model.OmdbEntry.t_Meter > 50) {
                            <img class="rt_rotten" src="../../Content/Images/fresh.png" />
                        }
                        if (Model.OmdbEntry.t_Meter < 50) {
                            <img class="rt_rotten" src="../../Content/Images/rotten.png" />
                        }
                    }
                }
            </div>
        </div>
    </div>

    <div class="title_entry_bottom">
        <div class="title_genres">
            @Html.DisplayFor(model => model.Genres)
        </div>
    </div>
    </div>
</div>
