@model NextFlicksMVC4.Views.Movies.ViewModels.NfImdbRtViewModel

@*This is for making the layout @{
    Layout = null;
}*@

@{ ViewBag.Title = "Complete Details"; }


    <title>@ViewBag.Title</title>
    
    
    @foreach (var property in ViewData.ModelMetadata.Properties)
    {
@*        <div class="display-label">
            @Html.DisplayNameFor(item => property)
        </div>
        <div class="display-field">
            @Html.DisplayFor(item => property)
        </div> *@
        <div class="editor-line">
            <div class="display-label">@(property.DisplayName ?? property.PropertyName)</div>
            <div class="display-field">@Html.Display(property.PropertyName)</div>
        </div>
    }
<div>
    </div>
    
    
@*
Movie
 movie_ID
 short_title
 year
 runtime
 avg_rating
 tv_rating
 web_page
 current_season
 is_movie
 maturity_rating

Genre
 genre_ID
 genre_string

MovieToGenre
 movie_to_genre_ID
 movie_ID
 genre_ID

BoxArt
 boxart_ID
 movie_ID
 boxart_38
 boxart_64
 boxart_110
 boxart_124
 boxart_150
 boxart_166
 boxart_88
 boxart_197
 boxart_176
 boxart_284
 boxart_210
 
OMDBEntry
 omdb_ID 
 title
 year
 i_Rating
 i_Votes
 i_ID
 t_Meter
 t_Image
 t_Rating
 t_Reviews
 t_Fresh
 t_Rotten
 t_Consensus
 t_UserMeter
 t_UserRating
 t_UserReviews
*@
