@using NextFlicksMVC4.Models;
@model NextFlicksMVC4.Views.Movies.ViewModels.MovieTagViewModel


<script type="text/javascript">    $('#tooltip *').tooltip({
    delay: 0
        
});
</script>

@{
    ViewBag.Title = "Details";
   
}

<h2>Details</h2>

@using (Html.BeginForm())
{
  <fieldset>
        <legend>Movie</legend>
        @Html.HiddenFor(model => model.movie.movie_ID)
        <div class="display-label">
            @Html.DisplayNameFor(model => model.movie.short_title)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.movie.short_title)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.movie.year)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.movie.year)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.movie.runtime)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.movie.runtime)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.movie.avg_rating)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.movie.avg_rating)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.movie.tv_rating)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.movie.tv_rating)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.movie.web_page)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.movie.web_page)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.movie.current_season)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.movie.current_season)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.movie.is_movie)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.movie.is_movie)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.movie.maturity_rating)
        </div>
      <div class="display-field">
          @Html.DisplayFor(model => model.movie.maturity_rating)
      </div>
      <div class="display-label">
          @Html.DisplayNameFor(model => model.genre_strings)
      </div>
      <div class="display-field">
          @Html.DisplayFor(model => model.genre_strings)
      </div>

      <div class="display-label">
          @Html.DisplayNameFor(model => model.Tags)
      </div>
      @foreach (MovieTags tag in Model.Tags)
      {
          <p class="tooltip" id="@tag.TagId" title="tooltip Test" style="background-color: #ffffff; width: auto" > @tag.Tag </p>
      }
        @*<div class="display-field"> @Html.DisplayFor(model => model.Tags)</div>*@
        <div class="display-field">
            @if (Roles.IsUserInRole("User") || Roles.IsUserInRole("Admin"))
            {
                 <h6>Seperate tags by comma</h6>
                <p>
                    @Html.TextBox("tags", value:"") @Html.CheckBoxFor(model => model.Anon)Anonymous?
                </p>
                <p><input type="submit" value="Add Tags" /></p>
            }
            
        </div>
        
    </fieldset>
}
<p>
    
    @*Html.ActionLink("Edit", "Edit", new { id=Model.movie.movie_ID }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
