@model NextFlicksMVC4.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Movie</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.short_title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.short_title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.year)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.year)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.runtime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.runtime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.avg_rating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.avg_rating)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tv_rating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tv_rating)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.web_page)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.web_page)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.current_season)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.current_season)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.is_movie)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.is_movie)
    </div>

@*    <div class="display-label">
         @Html.DisplayNameFor(model => model.genres)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.genres)
    </div>*@

    <div class="display-label">
         @Html.DisplayNameFor(model => model.maturity_rating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.maturity_rating)
    </div>

 @*   <div class="display-label">
         @Html.DisplayNameFor(model => model.boxart_38)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.boxart_38)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.boxart_64)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.boxart_64)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.boxart_110)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.boxart_110)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.boxart_124)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.boxart_124)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.boxart_150)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.boxart_150)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.boxart_166)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.boxart_166)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.boxart_88)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.boxart_88)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.boxart_197)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.boxart_197)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.boxart_176)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.boxart_176)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.boxart_284)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.boxart_284)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.boxart_210)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.boxart_210)
    </div>*@
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.movie_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
