@model NextFlicksMVC4.Models.Movie

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Movie</legend>

        @Html.HiddenFor(model => model.movie_ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.short_title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.short_title)
            @Html.ValidationMessageFor(model => model.short_title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.year)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.year)
            @Html.ValidationMessageFor(model => model.year)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.runtime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.runtime)
            @Html.ValidationMessageFor(model => model.runtime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.avg_rating)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.avg_rating)
            @Html.ValidationMessageFor(model => model.avg_rating)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tv_rating)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tv_rating)
            @Html.ValidationMessageFor(model => model.tv_rating)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.web_page)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.web_page)
            @Html.ValidationMessageFor(model => model.web_page)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.current_season)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.current_season)
            @Html.ValidationMessageFor(model => model.current_season)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.is_movie)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.is_movie)
            @Html.ValidationMessageFor(model => model.is_movie)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.maturity_rating)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.maturity_rating)
            @Html.ValidationMessageFor(model => model.maturity_rating)
        </div>
        
        <p>
            <input type="submit" value="Save" />

        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "oldIndex")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
