@using NextFlicksMVC4
@model IEnumerable<NextFlicksMVC4.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.short_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.runtime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avg_rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tv_rating)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.current_season)
         </th>       
         <th>
            @Html.DisplayNameFor(model => model.is_movie)
        </th>
        <th></th>
    </tr>
    @*                  @Console.WriteLine("lolololol {0}",Model.ToString())
*@

    @foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.short_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.runtime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avg_rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tv_rating)
        </td>
        <td>
            @if (!(item.is_movie))
            { 
                @Html.DisplayFor(modelItem => item.current_season);
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_movie)
        </td>
@*        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>*@
    </tr>
}

</table>
