@using System.Web.Mvc.Html
@model IEnumerable<NextFlicksMVC4.Models.Movie>

@{
    ViewBag.Title = "Index";
}
<script>    $(document).ready(function () {
        $("div#action_params").ready(function () {
            $("div#action_params").dialog(
            {
                position:
                    { my: "center", at: "top" }
            });
        });
    }); </script>

<h2>
    Index of @Model.ToList().Count Titles out of @ViewBag.TotalMovies</h2>
<h3>
    Items @ViewBag.Start through
    @{ ViewBag.section = ViewBag.Start + ViewBag.Count;}
    @ViewBag.section
</h3>
@if (ViewBag.SearchTerm != null )
{
    <h4>
        You searched for "@ViewBag.SearchTerm"</h4>
}

<div id="action_params" style="background-color: lightblue" title="This Action's Params">
@if (ViewBag.Params != null) {
    <p>Here are the possible params to the controller:</p>
    foreach (string param in ViewBag.Params) {
        <p>@param</p>
    }
}

</div>

@{ int show_table = 0; }
@if (show_table == 1) {
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.short_title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.runtime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.avg_rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tv_rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.current_season)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.is_movie)
            </th>
            @*        <th>
            @Html.DisplayNameFor(model => model.genres)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.maturity_rating)
            </th>
            <th>
            </th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td style="white-space: nowrap">
                    @*<a href="@Html.DisplayFor(asd => item.web_page)">*@   @*<img src=" @Html.DisplayFor(modelItem => item.boxart_38) " alt="BoxArt" style="vertical-align: middle; height: 60px"/> *@
                    <span style="line-height: 60px">@Html.DisplayFor(modelItem => item.short_title)</span> @*</a>*@
                    <span>@Html.ActionLink("details", "Details", new {movie_ID = item.movie_ID})</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.year)
                </td>
                <td>
                    @if (item.is_movie) {
                        @Html.DisplayFor(modelItem => item.runtime)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.avg_rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tv_rating)
                </td>
                <td>
                    @if (!(item.is_movie)) {
                        @Html.DisplayFor(modelItem => item.current_season)
                        ;
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.is_movie)
                </td>
                @*            <td>
                @Html.DisplayFor(modelItem => item.genres)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.maturity_rating)
                </td>
                @*        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>*@
            </tr>
        }
    </table>
}

else {
    <p style="color: blue">table is hidden, showing partial _Titles instead</p>



foreach (var item in Model) {
    @Html.Partial("_Title", item)
    
}}