@model IEnumerable<NextFlicksMVC4.Models.Movie>

@{
    ViewBag.Title = "Table";
}

<h2>Table</h2>
<h2 style="color: lightgreen">GENRES NOT SHOWN FOR SPACE</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.short_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.runtime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avg_rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tv_rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.web_page)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.current_season)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_movie)
        </th>
@*        <th>
            @Html.DisplayNameFor(model => model.genres)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.maturity_rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.boxart_38)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.boxart_64)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.boxart_110)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.boxart_124)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.boxart_150)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.boxart_166)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.boxart_88)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.boxart_197)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.boxart_176)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.boxart_284)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.boxart_210)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.short_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.runtime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avg_rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tv_rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.web_page)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.current_season)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_movie)
        </td>
@*        <td>
            @Html.DisplayFor(modelItem => item.genres)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.maturity_rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.boxart_38)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.boxart_64)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.boxart_110)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.boxart_124)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.boxart_150)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.boxart_166)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.boxart_88)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.boxart_197)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.boxart_176)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.boxart_284)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.boxart_210)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
